/* CORES

fundo branco: #fcfcfc

card virado para baixo: #31485a (cinza-escuro)
card virado para cima: #bcceda (cinza-claro)
card virado atual: #fea215 (laranja)

*/

/* tamanho do icon: 16px pra cada 2x dobra */

.text-lightgray {
    color: #bcceda;
}

.text-darkgray {
    color: #31485a;
}

/* remover decorações da anchor */

a, a:hover {
    color: inherit;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

/* centralizar icones no cartão */

.card-round-4x-icon, .card-round-6x-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* cor normal do cartão e transição ao passar de laranja pra cor normal */

.card-round-4x, .card-round-6x {
    transition: 0.3s;
    background-color: #bcceda;
}

/* caixa dos jogadores */

.players-container {
    display: flex;
    justify-content: space-between;
}

.player-container {
    border-radius: 10px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    color: #31485a;
    background-color: #bcceda;
}

.player-container-selected {
    color: #fcfcfc;
    background-color: #fea215;
}

/* fazer o anchor não ser clicável */
.unclickable {
    pointer-events: none;
}

/* tabuleiro responsivo */

@media (min-width: 0px) {

    /* tamanho do icone responsivo */
    .fa-responsive-size-4x {
        font-size: 2.25em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-4x {
        position: relative;
        border-radius: 50%;
        width: 54px;
        height: 54px;
    }

    /* tamanho do icone responsivo */
    .fa-responsive-size-6x {
        font-size: 1.25em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-6x {
        position: relative;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
}

/* padding e display da navbar no xs */
@media (max-width: 409px) {
    .pse-xs {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .display-xs {
        display: block;
    }
}

@media (min-width: 410px) {

    /* tamanho do icone responsivo */
    .fa-responsive-size-4x {
        font-size: 3em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-4x {
        position: relative;
        border-radius: 50%;
        width: 72px;
        height: 72px;
    }

    /* tamanho do icone responsivo */
    .fa-responsive-size-6x {
        font-size: 2.25em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-6x {
        position: relative;
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 576px) {

    /* tamanho do icone responsivo */
    .fa-responsive-size-4x {
        font-size: 3.75em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-4x {
        position: relative;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }

    /* tamanho do icone responsivo */
    .fa-responsive-size-6x {
        font-size: 2.5em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-6x {
        position: relative;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

}

@media (min-width: 768px) {

    /* tamanho do icone responsivo */
    .fa-responsive-size-4x {
        font-size: 3.75em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-4x {
        position: relative;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }

    /* tamanho do icone responsivo */
    .fa-responsive-size-6x {
        font-size: 2.5em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-6x {
        position: relative;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

}

@media (min-width: 992px) {

    /* tamanho do icone responsivo */
    .fa-responsive-size-4x {
        font-size: 4em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-4x {
        position: relative;
        border-radius: 50%;
        width: 96px;
        height: 96px;
    }

    /* tamanho do icone responsivo */
    .fa-responsive-size-6x {
        font-size: 2.5em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-6x {
        position: relative;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

}

@media (min-width: 1200px) {

    /* tamanho do icone responsivo */
    .fa-responsive-size-4x {
        font-size: 4.5em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-4x {
        position: relative;
        border-radius: 50%;
        width: 108px;
        height: 108px;
    }

    /* tamanho do icone responsivo */
    .fa-responsive-size-6x {
        font-size: 3em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-6x {
        position: relative;
        border-radius: 50%;
        width: 72px;
        height: 72px;
    }

}

@media (min-width: 1400px) {

    /* tamanho do icone responsivo */
    .fa-responsive-size-4x {
        font-size: 5em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-4x {
        position: relative;
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    /* tamanho do icone responsivo */
    .fa-responsive-size-6x {
        font-size: 3.5em;
    }

    /* tamanho do cartão redondo responsivo */
    .card-round-6x {
        position: relative;
        border-radius: 50%;
        width: 84px;
        height: 84px;
    }

}

/* girar o cartão */ 

.card-round-container {
    transform-style: preserve-3d;
    transition: transform 1s;
    backface-visibility: hidden;
}

.card-round-back {
    background-color: #31485a;
}

.card-round-front {
    background-color: #fea215;
}

.card-round-flip {
    transform: rotateY(180deg);
}

/* modal começar o jogo responsivo */

@media (min-width: 0px) {

    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 315px;
        height: 283.5px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 0.8em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 0.8em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 0.9em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }

}

@media (min-width: 410px) {

    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 367.5px;
        height: 330.75px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 0.9em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 0.8em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 0.9em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }

    
}

@media (min-width: 576px) {

    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 490px;
        height: 441px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 1em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }

}

@media (min-width: 768px) {
    
    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 490px;
        height: 441px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 1em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }

}

@media (min-width: 1200px) {
    
    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 560px;
        height: 480px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 1.2em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }
}

@media (min-width: 1400px) {

    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 600px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 1.5em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }

}

@media (min-width: 992px) {
    
    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 560px;
        height: 504px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 1.2em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }

}

@media (min-width: 1200px) {
    
    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 560px;
        height: 504px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 1.2em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }
}

@media (min-width: 1400px) {

    /* backdrop do modal */
    .modal-iniciar {
        display: block;
        z-index: 1055;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #31485a;
    }
    
    /* modal dentro do modal */
    .modal-iniciar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 630px;
        border-radius: 20px;
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
    }

    p {
        font-size: 1.5em;
        font-weight: bold;
    }

    /* botões de selecionar tipo do jogo */
    .btn-radiobox {
        background-color: #bcceda;
        color: #fcfcfc;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .input-radio[type="radio"]:checked+label {
        background-color: #31485a;
    }

    /* botão começar */
    .btn-custom {
        border: none;
        outline: none;
        background-color: #fea215;
        color: #fcfcfc;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        transition: 0.3s;
    }

    .btn-custom:active {
        background-color: #cb8211;
    }
}

/* animação de fade-in e out para os modais */

.fade-out {
    -webkit-animation: fade-out 0.3s linear forwards;
    animation: fade-out 0.3s linear forwards;
    opacity: 1;
  }
  
  @keyframes fade-out {
    50% {
        opacity: 0.5;
    }
  
    100% {
        opacity: 0;
    }
  }
  
  .fade-in {
    -webkit-animation: fade-in 0.3s linear forwards;
    animation: fade-in 0.3s linear forwards;
    opacity: 0;
  }
  
  @keyframes fade-in {
    50% {
        opacity: 0.5;
    }
  
    100% {
        opacity: 1;
    }
  }

/* modal que impede clique na tela */

.modal-impedir-click {
    display: none;
    z-index: 1056;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff77;
}

/* mudando cores basicas dos botões */

.btn-custom {
    background-color: #fea215;
    color: #fcfcfc;
}

.btn-custom:active {
    background-color: #cb8211;
}

.btn-restart {
    background-color: #fea215;
    color: #fcfcfc;
}

.btn-restart:active {
    background-color: #cb8211;
}

.btn-playagain {
    background-color: #bcceda;
    color: #31485a;
}

.btn-playagain:active {
    background-color: #94a4af;
}

.modal-fim {
    border-top: 1px solid #94a4af;
    border-bottom: 1px solid #94a4af;
    border-radius: 0;
    width: 100vw;
}

.modal-fim-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (hover: hover) and (pointer: fine) {

}